<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/img/swimming-pool-solid.svg" width="48" height="28">
            <span>
                Pool Monitor
            </span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" data-target="navigation" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navigation">
        <div class="navbar-start">
            <a href="/device" class="navbar-item"> <i class="has-text-grey-lighter fas fa-temperature-high"></i><span>&nbsp;Geräte</span></a>
            <a href="/trigger" class="navbar-item"> <i class="has-text-grey-lighter far fa-clock"></i><span>&nbsp;Trigger</span></a>
            <a href="/system" class="navbar-item"> <i class="has-text-grey-lighter fas fa-cogs"></i><span>&nbsp;System</span> </a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }

    });
</script>