<style>
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .navbar a,
    .navbar a:visited {
        text-decoration: none;
        color: unset;
    }

    .navbar>div {
        padding: 8px 4px;
    }
</style>

<div class="navbar">
    <div>
        <a href="/">Home</a>
    </div>
    <div>
        <a href="/temperature">Temperature</a>
    </div>
</div>