<%- include('includes/head.ejs') -%>
    <div class="columns is-multiline is-mobile">
        <div class="column is-full ">
            <div id="chart"></div>

        </div>
    </div>
    <script src="/static/js/apexcharts.js"></script>
    <link rel="stylesheet" href="/static/css/apexcharts.css">
    <script>
        const options = {};
        options.series = JSON.parse(`<%- JSON.stringify(temperatures) %>`);
        options.xaxis = {
            type: 'datetime'
        };
        options.chart = {
            height: 350,
            type: "line",
            stacked: false
        };
        
        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
    </script>
    <%- include('includes/foot.ejs') -%>