<%- include('includes/head.ejs') -%>

    <h1>This ist the Pool Monitor.</h1>
    <div>
        <%= message %>
    </div>
    <div>
        <form action="/setText" method="post">
            <label>Set custom Text on the Display:</label>
            <textarea rows="2" cols="16" name="customText"></textarea>

            <button type="submit">Send</button>
        </form>
    </div>

    <%- include('includes/foot.ejs') -%>