<%- include('includes/head.ejs') -%>
    <div class="panel">
        <div class="panel-heading">Neuer Trigger</div>
        <!-- <div class="panel-tabs"><a href="#" class="is-active">Trigger</a><a href="#">Bedingungen</a><a href="#">Aktionen</a></div> -->
        <div class="panel-block is-active">
            <form method="post" class="control">
                <div class="field">
                    <label for="" class="label is-large">Trigger</label>
                    <div class="control is-expanded">
                        <div class="select">
                            <select name="trigger" id="trigger">
                                <option value="IntervalTrigger">Interval</option>
                                <option value="RecurrentTrigger">Wiederholen</option>
                                <option value="TimestampTrigger">Datum</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control">
                    <div class="trigger config" id="triggerIntervalTrigger">
                        <div class="field">
                            <label for="triggerIntervalTriggerInterval" class="label">Interval</label>
                            <div class="control">
                                <input id="triggerIntervalTriggerInterval" name="triggerIntervalTriggerInterval"
                                    type="number" class="input" value="1000">
                            </div>
                            <p class="help">Interval in Millisekunden</p>
                        </div>
                    </div>
                    <div class="trigger config" id="triggerRecurrentTrigger">
                        <div class="field">
                            <label for="triggerRecurrentTriggerHour" class="label">Stunde</label>
                            <div class="control">
                                <input type="number" id="triggerRecurrentTriggerHour" min="0" max="23"
                                    name="triggerRecurrentTriggerHour" class="input" value="17">
                            </div>
                            <p class="help">Stunde, zu der die Aktion täglich ausgeführt werden soll.</p>
                        </div>
                        <div class="field">
                            <label for="triggerRecurrentTriggerMinute" class="label">Minute</label>
                            <div class="control">
                                <input type="number" id="triggerRecurrentTriggerMinute" min="0" max="59"
                                    name="triggerRecurrentTriggerMinute" class="input" value="0">
                            </div>
                            <p class="help">Minute, zu der die Aktion täglich ausgeführt werden soll.</p>
                        </div>
                        <div class="field is-grouped-multiline">
                            <div class="control">
                                <label for="weekday-1" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-1" id="weekday-1">Montag</label>
                            </div>
                            <div class="control">
                                <label for="weekday-2" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-2" id="weekday-2">Dienstag</label>
                            </div>
                            <div class="control">
                                <label for="weekday-3" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-3" id="weekday-3">Mittwoch</label>
                            </div>
                            <div class="control">
                                <label for="weekday-4" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-4" id="weekday-4">Donnerstag</label>
                            </div>
                            <div class="control">
                                <label for="weekday-5" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-5" id="weekday-5">Freitag</label>
                            </div>
                            <div class="control">
                                <label for="weekday-6" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-6" id="weekday-6">Samstag</label>
                            </div>
                            <div class="control">
                                <label for="weekday-0" class="checkbox"><input type="checkbox" class="weekday" checked
                                        name="weekday-0" id="weekday-0">Sonntag</label>
                            </div>
                        </div>
                    </div>
                    <div class="trigger config" id="triggerTimestampTrigger">
                        <div class="field">
                            <label for="triggerTimestampTriggerDate" class="label">Datum</label>
                            <div class="control">
                                <input id="triggerTimestampTriggerDate" name="triggerTimestampTriggerDate" type="date"
                                    class="input">
                            </div>
                            <p class="help">Datum der Ausführung</p>
                        </div>
                        <div class="field">
                            <label for="triggerTimestampTriggerTime" class="label">Uhrzeit</label>
                            <div class="control">
                                <input id="triggerTimestampTriggerTime" name="triggerTimestampTriggerTime" type="time"
                                    class="input">
                            </div>
                            <p class="help">Uhrzeit der Ausführung</p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label is-large">Aktion</label>
                    <div class="control">
                        <div class="select">
                            <select name="action" id="action">
                                <option value="">---</option>
                                <option value="DeviceStateAction">Gerätestatus</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control">
                    <div class="action config" id="actionDeviceStateAction">
                        <div class="field">
                            <label for="actionDeviceStateActionDevice" class="label">Gerät</label>
                            <div class="control select">
                                <select name="actionDeviceStateActionDevice" id="actionDeviceStateActionDevice">
                                    <option value="pump">Pumpe</option>
                                    <option value="salt">Salzanlage</option>
                                </select>
                            </div>
                            <p class="help">Das Gerät</p>
                        </div>

                        <div class="field">
                            <label for="actionDeviceStateActionState" class="label">Status</label>

                            <div class="control">
                                <label class="radio">
                                    <input id="actionDeviceStateActionStateOn" type="radio"
                                        name="actionDeviceStateActionState" value="true" checked="checked">
                                    An
                                </label>
                                <label class="radio">
                                    <input id="actionDeviceStateActionStateOff" type="radio"
                                        name="actionDeviceStateActionState" value="false">
                                    Aus
                                </label>
                            </div>
                            <p class="help">Der zu setzende Status</p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="" class="label is-large">Bedingung</label>
                    <div class="control">
                        <div class="select">
                            <select name="condition" id="condition">
                                <option value="">---</option>
                                <option value="DeviceStateCondition">Gerätestatus</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="control">
                    <div class="condition config" id="conditionDeviceStateCondition">
                        <div class="field">
                            <label for="conditionDeviceStateConditionDevice" class="label">Gerät</label>
                            <div class="control select">
                                <select name="conditionDeviceStateConditionDevice"
                                    id="conditionDeviceStateConditionDevice">
                                    <option value="pump">Pumpe</option>
                                    <option value="salt">Salzanlage</option>
                                </select>
                            </div>
                            <p class="help">Das Gerät</p>
                        </div>

                        <div class="field">
                            <label for="conditionDeviceStateConditionState" class="label">Status</label>

                            <div class="control">
                                <label class="radio">
                                    <input id="conditionDeviceStateConditionStateOn" type="radio"
                                        name="conditionDeviceStateConditionState" value="true" checked="checked">
                                    An
                                </label>
                                <label class="radio">
                                    <input id="conditionDeviceStateConditionStateOff" type="radio"
                                        name="conditionDeviceStateConditionState" value="false">
                                    Aus
                                </label>
                            </div>
                            <p class="help">Der zu prüfende Status</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-block">
            <div class="control">
                <div class="buttons is-right">
                    <button class="button" id="submitForm">
                        Trigger hinzufügen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const triggerSelect = $('#trigger');
        const showTriggerSelect = () => {
            $('.trigger.config').hide();
            $('#trigger' + triggerSelect.val()).show();
        };

        triggerSelect.change(showTriggerSelect);
        showTriggerSelect();

        const actionSelect = $('#action');
        const showActionSelect = () => {
            $('.action.config').hide();
            $('#action' + actionSelect.val()).show();
        };

        actionSelect.change(showActionSelect);
        showActionSelect();

        const conditionSelect = $('#condition');
        const showConditionSelect = () => {
            $('.condition.config').hide();
            $('#condition' + conditionSelect.val()).show();
        };

        conditionSelect.change(showConditionSelect);
        showConditionSelect();

        const getConditions = () => {
            const condition = conditionSelect.val();
            if (condition === '') {
                return [];
            }

            let conditionObj = {};
            conditionObj.name = condition;

            switch (condition) {
                case 'DeviceStateCondition':
                    conditionObj.device = $('#conditionDeviceStateConditionDevice').val();
                    conditionObj.state = $(`input:radio[name='conditionDeviceStateConditionState']:checked`).val() === 'true';
                    break;

                default:
                    break;
            }

            return [conditionObj];
        }

        const getActions = () => {
            const action = actionSelect.val();
            if (action === '') {
                return [];
            }

            let actionObj = {};
            actionObj.name = action;

            switch (action) {
                case 'DeviceStateAction':
                    actionObj.device = $('#actionDeviceStateActionDevice').val();
                    actionObj.state = $(`input:radio[name='actionDeviceStateActionState']:checked`).val() === 'true';
                    break;

                default:
                    break;
            }

            actionObj.conditions = getConditions();

            return [actionObj];
        }

        const getTriggerObj = () => {
            const trigger = triggerSelect.val();
            let triggerObj = {};
            triggerObj.name = trigger;

            switch (trigger) {
                case 'RecurrentTrigger':
                    triggerObj.hour = parseInt($('#triggerRecurrentTriggerHour').val());
                    triggerObj.minute = parseInt($('#triggerRecurrentTriggerMinute').val());
                    triggerObj.dayOfWeek = [];
                    $('.weekday').filter(':checked').each((i, elem) => {
                        triggerObj.dayOfWeek.push(parseInt(elem.id.replace('weekday-', '')));
                    });
                    break;

                case 'IntervalTrigger':
                    triggerObj.interval = parseInt($('#triggerIntervalTriggerInterval').val());
                    break;

                case 'TimestampTrigger':
                    const date = $('#triggerTimestampTriggerDate').val();
                    const time = $('#triggerTimestampTriggerTime').val()
                    triggerObj.time = new Date(date + 'T' + time).getTime() / 1000;
                    break;
            }

            triggerObj.actions = getActions();

            return triggerObj;
        }


        $('#submitForm').click(async () => {
            const response = await fetch(window.location.origin + location.pathname, {
                method: 'POST',
                body: JSON.stringify(getTriggerObj()),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                window.location.replace(window.location.origin + '/trigger');
            } else {
                alert("Something went wrong.")
            }
        });


    </script>

    <style>
        .config {
            margin-left: 5%;
        }
    </style>

    <%- include('includes/foot.ejs') -%>