<%- include('includes/head.ejs') -%>
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full">
                <a href="/trigger/new" class="button">Neuer Trigger</a>
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Aktion</th>
                            <th>Nächste Ausführung</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <%- include('includes/foot.ejs') -%>