<%- include('includes/head.ejs') -%>
    <div class="container">
        <div class="columns is-multiline is-mobile">
            <div class="column is-full ">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <a href="/trigger/new" class="button is-fullwidth">Neuer Trigger</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Aktion</th>
                            <th>Nächste Ausführung</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <%- include('includes/foot.ejs') -%>